.index-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  /*background-color: black;*/
  /*opacity: 0.8;*/
}

.index-contents{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 200px;
  clear: left;
  float: left;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    display: flex;
}

header {
  height: 100%;
}

#footer{
  position: absolute;
  top: 100%;
  clear: left;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFFFFF;
}

.svg-icon circle {
  stroke: #FFFFFF;
  stroke-width: 1;
}
